<include href="views/navbar.html"/>

<!-- Show active admins with delete option -->
<h2 class="m-1">Manage Admins</h2>
<repeat group="{{ @admins }}" value="{{ @admin }}">
    <form action="#" method="post" class="m-3">
        <input type="hidden" name="id" value="{{ @admin['user_id'] }}">
        <button type="submit" class="btn btn-danger">Delete</button>
        <p class="d-inline">{{ @admin['user_email'] }}</p>
        <br>
    </form>
</repeat>
<br><br>

<!-- Add a new admin -->
<h2 class="m-1">Add Admin</h2>
<form class="w-25 m-3" action="#" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="someone@example.com">
    </div>
    <div class="text-danger mb-3">{{ @emailError }}</div>
    <button class="btn btn-success">Add admin</button>
</form>
</body>
</html>