<include href="views/navbar.html"/>

<!-- Show active admins with delete option -->
<h2 class="m-1">Manage Admins</h2>
<repeat group="{{ @admins }}" value="{{ @admin }}">
    <div class="m-3">
        <button type="button" class="btn btn-danger delete" data-id="{{ @admin['user_id'] }}">Delete</button>
        <p class="d-inline">{{ @admin['user_email'] }}</p>
        <br>
    </div>
</repeat>
<br><br>

<!-- Add a new admin -->
<h2 class="m-1">Add Admin</h2>
<form class="w-25 m-3" action="#" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="someone@example.com">
    </div>
    <div class="text-danger mb-3">{{ @emailError }}</div>
    <button class="btn btn-success">Add admin</button>
</form>

<!--JQuery and bootstrap dependencies-->
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="../scripts/adminScript.js"></script>
</body>
</html>