<include href="views/navbar.html"/>

<!-- TODO check if logged in user is admin -->
<h2 class="m-1">Manage Admins</h2>

<repeat group="{{ @admins }}" value="{{ @admin }}">
    <form action="#" method="post" class="m-3">
        <input type="hidden" name="id" value="{{ @admin['user_id'] }}">
        <button type="submit" class="btn btn-danger">Delete</button>
        <p class="d-inline">{{ @admin['user_email'] }}</p>
        <br>
    </form>
</repeat>
<br><br>
<h2 class="m-1">Add Admin</h2>
<form class="w-25 m-3" action="#" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="someone@example.com">
    </div>
    <button class="btn btn-success">Add admin</button>
</form>
</body>
</html>