<!--
This is the view for the tutors checklist.
On this page they will be able to check off
what forms they have already completed
@author Oleg
@version 1.1
 -->

<include href="views/navbar.html"/><!-- This brings in the navbar -->


<div class="container">
    <div class="btn-group mb-3 mt-1 center">
        <a class="border btn btn-secondary" href="#notCompleted">To Be Completed</a>
        <a class="border btn btn-secondary" href="#completed">Completed</a>
    </div><!-- Navigation -->

    <!-- Welcome Intro -->
    <p class="yearID" data-id="{{@yearID}}">Welcome, {{@userName}}</p>
    <p>Academic year: {{@currentYear}} - {{@currentYear+1}}</p>

    <div class="row">
        <div id="notCompleted" class="col-12">
            <fieldset>

                <!--To be Completed Section-->
                <legend>To Be Completed</legend>
                <div class="notCompletedBox">

                    <!-- Creates a box with the form that was not completed -->
                    <repeat group="{{@checklist}}"  value="{{@isChecked}}">
                        <check if="{{@isChecked['state_is_done'] == '0' && @db->getNextState(@isChecked['state_id']) =='tutor' }}">
                            <div class="mb-3">
                                <section class="card">
                                    <h2 class="card-title text-center">{{@isChecked['item_name']}}</h2>
                                    <div class="card-subtitle">
                                        <div class="row">
                                            <div class="col-8">
                                                <p class="text-center mt-3 mb-3 mr-1 ml-1">{{@db->getNextStateText(@isChecked['state_id'])}}</p>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check mt-3 mb-5 mr-5 text-center">
                                                    <input class="ml-xl-4 ml-lg-2 form-check-input get" type="checkbox"
                                                           data-state="{{@isChecked['state_id']}}" value="{{@isChecked['tutorYear_id']}}"
                                                           id="{{@isChecked['item_id']}}" name="doorInter[]">
                                                    <label class="ml-xl-5 ml-lg-4 form-check-label" for="{{@isChecked['item_id']}}">
                                                        Complete
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </check>
                    </repeat>
                </div>
            </fieldset>
        </div><!--Column-->

        <!--Completed Section-->
        <div id="completed" class="col-12">
            <fieldset>
                <legend>Completed</legend>
                <div class="completedBox">

                    <!-- Creates a box with the form that was not completed -->
                    <repeat group="{{@checklist}}"  value="{{@isChecked}}">
                        <check if="{{@isChecked['state_set_by'] == 'tutor'}}">
                            <div class="mb-3">
                                <section class="card">
                                    <h2 class="card-title text-center">{{@isChecked['item_name']}}</h2>
                                    <div class="card-subtitle">
                                        <div class="row">
                                            <div class="col-8">
                                                <p class="text-center mt-3 mb-3 mr-1 ml-1">{{@isChecked['state_text']}}</p>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check mt-3 mb-5 mr-5 text-center">

                                                    <input class="ml-xl-4 ml-lg-2 form-check-input get" type="checkbox"
                                                           value="{{@isChecked['tutorYear_id']}}" data-state="{{@isChecked['state_id']}}"
                                                           id="{{@isChecked['item_id']}}" name="doorInter[]" checked>
                                                    <label class="ml-xl-5 ml-lg-4 form-check-label" for="{{@isChecked['item_id']}}">
                                                        Completed
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </check>
                    </repeat>

                </div>
            </fieldset>
        </div><!--Column-->
    </div><!--Row-->
</div><!--Container-->

<!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/checklistMove.js"></script>
</body>
</html>