<!--
This is the view for the tutors checklist.
On this page they will be able to check off
what forms they have already completed
@author Oleg
@version 1.1
 -->

<include href="views/navbar.html"/><!-- This brings in the navbar -->


<div class="container ">

    <!-- Welcome Intro -->
    <p class="greetText mt-3 mb-3 h5 yearID" data-id="{{@yearID}}">Welcome, {{@userName}}</p>
    <p class="greetText h6 mb-4">Academic year: {{@currentYear}} - {{@currentYear+1}}</p>

    <div class="btn-group mb-2 mt-1 d-flex justify-content-center topBtn">
        <a class="  border btn btn-secondary" href="#notCompleted">To Be Completed</a>
        <a class="  border btn btn-secondary" href="#completed">Completed</a>
    </div><!-- Navigation -->
    <div class="row">
        <div id="notCompleted" class="col-12">
            <fieldset>

                <!--To be Completed Section-->
                <legend>To Be Completed</legend>
                <div class="notCompletedBox">

                    <!-- Creates a box with the form that was not completed -->
                    <repeat group="{{@checklist}}"  value="{{@isChecked}}">
                        <check if="{{@isChecked['state_is_done'] == '0' && @isChecked['state_set_by'] !='tutor' }}">
                            <div class="mb-3">
                                <section class="card">
                                    <h2 class="card-header text-center pb-1">{{@isChecked['item_name']}}</h2>
                                    <div class="card-subtitle">
                                        <div class="row">
                                            <div class="col-9">
                                                <check if="@db->getNextState(@isChecked['item_id'],@isChecked['state_order']) =='tutor'">
                                                    <true>
                                                        <p class="text-center mt-3 mb-3 mr-1 ml-1">{{@db->getNextStateText(@isChecked['item_id'],@isChecked['state_order'])}}</p>
                                                    </true>
                                                    <false>
                                                        <p class="text-center mt-3 mb-3 mr-1 ml-1">Please Wait for admin to activate this for you.</p>
                                                    </false>
                                                </check>
                                            </div>
                                            <div class="col-3">
                                                <check if="{{!empty(@isChecked['item_file'])}}">
                                                    <div class="row mb-3">
                                                        <a class="btn btn-primary" target="_blank" href="../uploads/{{@isChecked['item_file']}}"
                                                           download="{{@isChecked['item_file']}}">PDF Download</a>
                                                    </div>
                                                </check>
                                                <check if="{{!empty(@isChecked['itemTutorYear_file'])}}">
                                                    <div class="row mb-3">
                                                        <a class="btn btn-primary upload" target="_blank" href="../uploads/{{@isChecked['itemTutorYear_file']}}"
                                                           download="{{@isChecked['itemTutorYear_file']}}">Uploaded File Download</a>
                                                    </div>
                                                </check>
                                                <check if="{{!empty(@isChecked['item_is_upload'])}}">
                                                    <div class="row checkHide mb-3">
                                                        <input type="file" class="form-control-file" name="fileToUpload" id="pdf">
                                                    </div>
                                                </check>
                                                <div class="row">
                                                    <div class="form-check  mb-5  text-center">
                                                        <input class="big form-check-input get" type="checkbox"
                                                               data-order="{{@isChecked['state_order']}}" value="{{@isChecked['tutorYear_id']}}"
                                                               id="{{@isChecked['item_id']}}" name="doorInter[]"
                                                        <check if="@db->getNextState(@isChecked['item_id'],@isChecked['state_order']) !='tutor'">
                                                            disabled
                                                        </check>
                                                        >
                                                        <label class=" form-check-label" for="{{@isChecked['item_id']}}">
                                                            Complete
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </check>
                    </repeat>
                </div>
            </fieldset>
        </div><!--Column-->

        <!--Completed Section-->
        <div id="completed" class="col-12">
            <fieldset>
                <legend>Completed</legend>
                <div class="completedBox">

                    <!-- Creates a box with the form that was not completed -->
                    <repeat group="{{@checklist}}"  value="{{@isChecked}}">
                        <check if="{{@isChecked['state_set_by'] == 'tutor'}}">
                            <div class="mb-3">
                                <section class="card">
                                    <h2 class="card-header text-center">{{@isChecked['item_name']}}</h2>
                                    <div class="card-body">
                                        <div class="card-text">
                                            <p class="text-center mt-3 mb-3 mr-1 ml-1">{{@isChecked['state_text']}}</p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <check if="{{!empty(@isChecked['item_file'])}}">
                                            <div class=" mb-3">
                                                <a class="btn btn-primary" target="_blank" href="../uploads/{{@isChecked['item_file']}}"
                                                   download="{{@isChecked['item_file']}}">PDF Download</a>
                                            </div>
                                        </check>
                                        <check if="{{!empty(@isChecked['itemTutorYear_file'])}}">
                                            <div class=" mb-3">
                                                <a class="btn btn-primary" target="_blank" href="../uploads/{{@isChecked['itemTutorYear_file']}}"
                                                   download="{{@isChecked['itemTutorYear_file']}}">Uploaded File Download</a>
                                            </div>
                                        </check>
                                        <check if="{{!empty(@isChecked['item_is_upload'])}}">
                                            <div class=" hidden checkHide mb-3">
                                                <input type="file" class="form-control-file" name="fileToUpload" id="pdf">
                                            </div>
                                        </check>

                                        <div class="form-check mb-5 text-center">

                                            <input class="big form-check-input get" type="checkbox"
                                                   value="{{@isChecked['tutorYear_id']}}" data-order="{{@isChecked['state_order']}}"
                                                   id="{{@isChecked['item_id']}}" name="doorInter[]" checked>
                                            <label class=" form-check-label" for="{{@isChecked['item_id']}}">
                                                Completed
                                            </label>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </check>
                    </repeat>

                </div>
            </fieldset>
        </div><!--Column-->
    </div><!--Row-->
</div><!--Container-->

<!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/checklistMove.js"></script>
</body>
</html>