<!--
This is the view for the tutors checklist.
On this page they will be able to check off
what forms they have already completed
@author Oleg
@version 1.1
 -->

<include href="views/navbar.html"/><!-- This brings in the navbar -->


<div class="container ">

    <!-- Welcome Intro -->
    <p class="greetText mt-3 mb-3 h5 yearID" data-id="{{@yearID}}">Welcome, {{@userName}}</p>
    <p class="greetText h6 mb-4">Academic year: {{@currentYear}} - {{@currentYear+1}}</p>

    <div class="wrapper text-center form-group">
        <div class="btn-group btn-group-justified ">
            <div class="btn-group">
                <a class="topBtn  border btn btn-secondary " href="#notCompleted">To Be Completed</a>
            </div>
            <div class="btn-group">
                <a class="topBtn  border btn btn-secondary" href="#completed">Completed</a>
            </div>
        </div><!-- Navigation -->
    </div>
    <div class="row">
        <div id="notCompleted" class="col-12">
            <fieldset>

                <!--To be Completed Section-->
                <legend>To Be Completed</legend>
                <div class="notCompletedBox">

                    <!-- check for bio and image -->
                    <repeat group="{{@imgBio}}" key="{{@name}}"  value="{{@value}}">
                        <check if="{{empty(@value)}}">
                            <div class="mb-3">
                                <section class="card">
                                    <check if="{{@name === 'tutor_image'}}">
                                        <true>
                                            <h2 class="card-header bg-light pl-5">Professional Headshot</h2>
                                        </true>
                                        <false>
                                            <h2 class="card-header bg-light pl-5">Bio</h2>
                                        </false>
                                    </check>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-7">
                                                <check if="{{@name === 'tutor_image'}}">
                                                    <true>
                                                        <p class=" mt-3 mb-3 mr-1 ml-5">You haven't uploaded your headshot yet. To upload a headshot visit your
                                                        <a href="../form/{{@userID}}">Profile</a>.
                                                        </p>
                                                    </true>
                                                    <false>
                                                        <p class=" mt-3 mb-3 mr-1 ml-5">You haven't written your bio yet. To write your bio visit your
                                                            <a href="../form/{{@userID}}">Profile</a>.
                                                        </p>
                                                    </false>
                                                </check>
                                            </div>
                                        </div>
                                    </div><!-- Card Body -->
                                </section>
                            </div>
                        </check>
                    </repeat>

                    <!-- Creates a box with the form that was not completed -->
                    <repeat group="{{@checklist}}"  value="{{@isChecked}}">
                        <check if="{{@isChecked['state_is_done'] == '0' && @isChecked['state_set_by'] !='tutor' }}">
                            <div class="mb-3">
                                <section class="card">
                                    <h2 class="card-header bg-light pl-5">{{@isChecked['item_name']}}</h2>
                                    <div class="card-body">
                                        <check if="{{!empty(@isChecked['item_file'])}}">
                                            <div class=" mb-3 ml-5">
                                                <i class='far fa-file-alt'></i>
                                                <a  class="downloads" href="#"
                                                   data-item="{{@isChecked['item_id']}}"
                                                data-file="{{@isChecked['item_file']}}"
                                                data-og="1">PDF Download</a>
                                            </div>
                                        </check>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-7">
                                                <check if="@db->getNextState(@isChecked['item_id'],@isChecked['state_order']) =='tutor'">
                                                    <true>
                                                        <p class=" mt-3 mb-3 mr-1 ml-5">{{@db->getNextStateText(@isChecked['item_id'],@isChecked['state_order'])}}</p>
                                                    </true>
                                                    <false>
                                                        <p class=" mt-3 mb-3 mr-1 ml-5">Please Wait for admin to activate this for you.</p>
                                                    </false>
                                                </check>
                                            </div>
                                            <div class="col-lg-3 col-md-4 ml-md-5">
                                                <check if="{{!empty(@isChecked['itemTutorYear_file'])}}">
                                                    <div class="row">
                                                        <div>
                                                            <i class='far fa-file-alt'></i>
                                                            <a class="uploads downloads" href="#"
                                                               data-og="0"
                                                               data-item="{{@isChecked['item_id']}}"
                                                               data-file="{{@isChecked['itemTutorYear_file']}}">
                                                                {{@isChecked['itemTutorYear_file']}}</a>
                                                        </div>
                                                    </div><!-- Row -->
                                                </check>
                                                <check if="{{!empty(@isChecked['item_is_upload'])}}">
                                                    <div class="row uploadFile">
                                                        <div class="row pl-3 mt-3 checkHide">
                                                            <input type="file" class="form-control-file" name="fileToUpload" id="pdf">
                                                        </div>
                                                    </div><!-- Row -->
                                                </check>
                                                <div class="row">
                                                    <div class="form-check mt-3  mb-2  text-center">
                                                        <input class="big form-check-input get" type="checkbox"
                                                               data-order="{{@isChecked['state_order']}}" value="{{@isChecked['tutorYear_id']}}"
                                                               id="{{@isChecked['item_id']}}" name="doorInter[]"
                                                        <check if="@db->getNextState(@isChecked['item_id'],@isChecked['state_order']) !='tutor'">
                                                            disabled
                                                        </check>
                                                        >
                                                        <label class=" form-check-label" for="{{@isChecked['item_id']}}">
                                                            Complete
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- Card Body -->
                                </section>
                            </div>
                        </check>
                    </repeat>
                </div>
            </fieldset>
        </div><!--Column-->

        <!--Completed Section-->
        <div id="completed" class="col-12">
            <fieldset>
                <legend>Completed</legend>
                <div class="completedBox">

                    <!-- check for bio and image -->
                    <repeat group="{{@imgBio}}" key="{{@name}}"  value="{{@value}}">
                        <check if="{{!empty(@value)}}">
                            <div class="mb-3">
                                <section class="card">
                                    <check if="{{@name === 'tutor_image'}}">
                                        <true>
                                            <h2 class="card-header bg-light pl-5">Professional Headshot</h2>
                                        </true>
                                        <false>
                                            <h2 class="card-header bg-light pl-5">Bio</h2>
                                        </false>
                                    </check>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-7">
                                                <check if="{{@name === 'tutor_image'}}">
                                                    <true>
                                                        <p class="mt-3 mb-3 mr-1 ml-5">You have successfully uploaded your headshot. To update your headshot visit your
                                                            <a href="../form/{{@userID}}">Profile</a>.
                                                        </p>
                                                    </true>
                                                    <false>
                                                        <p class="mt-3 mb-3 mr-1 ml-5">You have successfully written your bio. To update your bio visit your
                                                            <a href="../form/{{@userID}}">Profile</a>.
                                                        </p>
                                                    </false>
                                                </check>
                                            </div>
                                        </div>
                                    </div><!-- Card Body -->
                                </section>
                            </div>
                        </check>
                    </repeat>

                    <!-- Creates a box with the form that was not completed -->
                    <repeat group="{{@checklist}}"  value="{{@isChecked}}">
                        <check if="{{@isChecked['state_set_by'] == 'tutor'}}">
                            <div class="mb-3">
                                <section class="card">
                                    <h2 class="card-header bg-light pl-5">{{@isChecked['item_name']}}</h2>
                                    <div class="card-body">
                                        <check if="{{!empty(@isChecked['item_file'])}}">
                                            <div class=" mb-3 ml-5">
                                                <i class='far fa-file-alt'></i>
                                                <a  class="downloads" href="#"
                                                    data-item="{{@isChecked['item_id']}}"
                                                    data-file="{{@isChecked['item_file']}}"
                                                    data-og="1">PDF Download</a>
                                            </div>
                                        </check>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-7">
                                                <div class="card-text">
                                                    <p class=" mt-3 mb-3 mr-1 ml-5">{{@isChecked['state_text']}}</p>
                                                </div>
                                            </div><!-- Column 7 -->
                                            <div class="col-lg-3 col-md-4 ml-md-5">
                                                <check if="{{!empty(@isChecked['itemTutorYear_file'])}}">
                                                    <div class="row">
                                                        <div>
                                                            <i class='far fa-file-alt'></i>
                                                            <a class="uploads downloads" href="#"
                                                               data-item="{{@isChecked['item_id']}}"
                                                               data-file="{{@isChecked['itemTutorYear_file']}}"
                                                               data-og="0">
                                                                {{@isChecked['itemTutorYear_file']}}</a>
                                                        </div>
                                                    </div> <!-- Row -->
                                                </check>

                                                <check if="{{!empty(@isChecked['item_is_upload'])}}">
                                                    <div class="uploadFile row">
                                                        <div class=" hidden checkHide mt-3">
                                                            <input type="file" class="form-control-file" name="fileToUpload" id="pdf">
                                                        </div>
                                                    </div><!-- Row -->
                                                </check>
                                                <div class="row">
                                                    <div class="form-check mt-3 mb-2 text-center">
                                                        <input class="big form-check-input get" type="checkbox"
                                                               value="{{@isChecked['tutorYear_id']}}" data-order="{{@isChecked['state_order']}}"
                                                               id="{{@isChecked['item_id']}}" name="doorInter[]" checked>
                                                        <label class=" form-check-label" for="{{@isChecked['item_id']}}">
                                                            Completed
                                                        </label>
                                                    </div>
                                                </div><!-- Row -->

                                            </div><!-- Column 5 -->
                                        </div><!-- Row -->
                                    </div>
                                </section>
                            </div>
                        </check>
                    </repeat>

                </div>
            </fieldset>
        </div><!--Column-->
    </div><!--Row-->
</div><!--Container-->

<!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/checklistMove.js"></script>
<script src="../scripts/fileDownload.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>