<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/formStyleSheet.css">
    <title>Form</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Onboarding Process form</h1>
        <p class="lead">Please enter your information to proceed in the Onboarding Process</p>
        <hr class="my-4">
        <p>Your information will be secure with us!</p>
    </div><!--closed jumbotron div-->
    <form action="#" method="post">
        <fieldset class="form-group">
            <legend> Personal Information</legend>
            <div class="row">
                <div class="col">
                    <div class=" row form-group"><!--div for first name-->
                        <label class="font-weight-bold" for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName">
                    </div>
                    <div class="row form-group"><!--div for email-->
                        <label class="font-weight-bold" for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <div class="row form-group"><!--div for phone-->
                        <label class="font-weight-bold" for="phone">Phone</label>
                        <input type="tel" class="form-control" name="phone" id="phone">
                    </div>
                    <div class="row form-group"><!--div for SSN-->
                        <label class="font-weight-bold" for="ssn">SSN</label>
                        <input type="text" class="form-control" name="phone" id="ssn">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group"><!--div for last name-->
                        <label class="font-weight-bold" for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="firstName" id="lastName">
                    </div>
                    <div><!--div for image-->
                        <label class="font-weight-bold" for="img">Select image:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                    </div>
                    <div class="row image-preview mt-4 ml-4" id="imagePreview"><!--div for image preview-->
                        <img scr="" alt="Image Preview" class="image-preview__image">
                        <span class="image-preview__default-text">Image Preview</span>
                    </div>
                </div>
            </div><!--div main row closed-->
            <div class="float-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </fieldset>
    </form>
</div><!--main div closed-->
<script src="../scripts/formScript.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>