<!--
   Form for OnBoarding process
   @author Laxmi Kandel
   -->
<include href="views/navbar.html"/>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Onboarding Process form</h1>
        <p class="lead">Please enter your information to proceed in the Onboarding Process</p>
        <hr class="my-4">
        <p>Your information will be secure with us!</p>
    </div>
    <!--closed jumbotron div-->
    <form action="#" method="post" enctype="multipart/form-data">
        <fieldset class="form-group">
            <legend> Personal Information</legend>
            <div class="row">
                <!--div for first name-->
                <div class="col form-group val-lessThan255 val-empty">
                    <label class="font-weight-bold" for="firstName">First Name</label><em>*</em>
                    <input type="text" class="input form-control" name="firstName" id="firstName"
                           value="{{ @firstName }}">
                    <check if="{{ @errors['firstName'] }}">
                        <span class="err">{{ @errors['firstName'] }}</span>
                    </check>
                    <div class="errors text-danger"></div>
                </div>
                <!--div for last name-->
                <div class="col form-group val-lessThan255 val-empty">
                    <label class="font-weight-bold" for="lastName">Last Name</label><em>*</em>
                    <input type="text" class="form-control input" name="lastName" id="lastName"
                           value="{{@lastName}}">
                    <check if="{{ @errors['lastName'] }}">
                        <span class="err">{{ @errors['lastName'] }}</span>
                    </check>
                    <div class="errors text-danger"></div>
                </div>
            </div>
            <!--row for first and last name closed-->
            <div class="row">
                <div class="col">
                    <!--div for email-->
                    <div class="form-group  val-lessThan255 val-empty val-hasSpaces">
                        <label class="font-weight-bold" for="email">Email </label>
                        <input type="text" class="form-control input" name="email" id="email"
                               value="{{ @email }}">
                        <check if="{{ @errors['email'] }}">
                            <span class="err">{{ @errors['email'] }}</span>
                        </check>
                        <div class="errors text-danger"></div>
                    </div>
                    <!--div for phone-->
                    <div class="form-group val-lessThan14 val-empty">
                        <label class="font-weight-bold" for="phone">Phone</label><em>*</em>
                        <input type="text" class="form-control input" name="phone" id="phone"
                               value="{{ @phone }}">
                        <check if="{{ @errors['phone'] }}">
                            <span class="err">{{ @errors['phone'] }}</span>
                        </check>
                        <div class="errors text-danger"></div>
                    </div>
                    <!--div for SSN-->
                    <div class="form-group val-empty">
                        <label class="font-weight-bold">SSN</label><em>*</em>
                        <check if='{{ @databaseSsn !=""}}'>
                            <true>
                                <!-- No longer need words -->
                                <!--<span> <em>(We already have your SSN, update if there is any change)</em></span>-->
                                <input type="text" class="form-control input ssnInput" name="ssn"
                                       value="{{ @ssn }}">
                                <check if="{{ @errors['ssn'] }}">
                                    <span class="err">{{ @errors['ssn'] }}</span>
                                </check>
                            </true>
                            <false>
                                <input type="text" class="form-control input ssnInput" name="ssn"
                                       value="{{ @ssn }}">
                                <check if="{{ @errors['ssn'] }}">
                                    <span class="err">{{ @errors['ssn'] }}</span>
                                </check>
                                <div class="errors text-danger"></div>
                            </false>
                        </check>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Bio</label>
                        <!--<check if='{{ @bioText =="" }}'>
                        <span><em>(Not updated yet)</em></span>
                        </check>--> <!--Removing the not updated yet text, not needed. [DS] -->
                        <textarea rows = 8 class="form-control input clearText" name="bio"> {{ @bioText }}</textarea>
                        <span class="err"> {{ @errors['check'] }}</span>
                        <h5 id = "count" class = mt-2></h5> <!-- Area for text counter -->
                    </div>
                </div>
                <!--div for image-->
                <div class="col">
                    <div>
                        <div class="from-group">
                            <label class="font-weight-bold" for="img">Upload Headshot</label>
                            <check if ='{{ @image =="" }}'>
                                <span> <em>(Not uploaded yet)</em></span>
                            </check>
                            <input type="file" class="form-control-file" name="fileToUpload"
                                   id="img">
                        </div>
                        <!--div for image preview-->
                        <div>
                            <img id="preview" src="../uploads/{{ @image }}" class = "img-fluid img-thumbnail " alt="Image will display here ">
                        </div>
                        <div class="errors text-danger"></div>
                    </div>
                </div>
            </div>
            <!--div for button-->
            <div class="float-right">
                <button type="submit" class="btn btn-primary btn-lg" name="submit">Submit</button>
            </div>
            <!--errors messages for invalid images-->
            <check if="{{ @errors['largeImg'] }}">
                <span class="err text-danger">{{ @errors['largeImg'] }}</span>
            </check>
            <check if="{{ @errors['returnCode'] }}">
                <span class="err text-danger">{{ @errors['returnCode'] }}</span>
            </check>
            <check if="{{ @errors['duplicatedImage'] }}">
                <span class="err text-danger">{{ @errors['duplicatedImage'] }}</span>
            </check>
            <check if="{{ @errors['wrongFileType'] }}">
                <span class="err text-danger">{{ @errors['wrongFileType'] }}</span>
            </check>
            <a class="btn btn-info" href="../reset/{{@SESSION['user']->getUserID()}}">Reset Password</a>
        </fieldset>
    </form>
</div>
<!--main div closed-->
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../scripts/clientValidation.js"></script>
</body>
</html>