<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UT-Dev Home</title>
</head>
<body>
<p><a href="login">Login</a></p>
<p><a href="form/1">Onboarding Form</a></p>
<p><a href="checklist/1">Tutor Onboarding</a></p>
<p><a href="tutors/2020&all">Admin Onboarding</a></p>
<p><a href="admin">Admin</a></p>
</body>
</html>
