<!--
Login page for university tutors website
@author Dallas Sloan
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Style sheet for login page -->
    <link rel="stylesheet" type="text/css" href="../styles/">

    <title>Tutors</title>

</head>
<body>

<div class="jumbotron text-center"> <!-- Header -->
    <h1 class="display-4">University Tutors Login</h1>
    <p>Admins and Tutors, please login below</p>
</div>
<div class="container divCol text-center"> <!--full form div -->
    <form method="post" action="#">
        <div class="form-group mt-2 val-empty val-hasSpaces"> <!--Username Div -->
            <label class="h2" for="username">Username </label>
            <input class="input" type="text" size=30 id="username" name="username">
            <check if="{{ @errors['username'] }}">
                <p class="err-validate">{{ @errors['username'] }}</p>
            </check>
            <div class="errors text-danger ml-5"></div>
        </div>

        <div class="form-group val-empty val-hasSpaces"> <!-- Password Div -->
            <label class="h2" for="password">&nbsp;Password </label>
            <input class="input" type="password" size=30 id="password" name="password">
            <check if="{{ @errors['password'] }}">
                <p class="err-validate">{{ @errors['password'] }}</p>
            </check>
            <div class="errors text-danger ml-5"></div>
        </div>
        <button class="btn btn-primary mb-3" type="submit" id="login" name="submit" value="submit">Login</button>
        <check if="{{ @loginError }}">
            <p class="err-validate">{{ @loginError }}</p>
        </check>
    </form>
    <!-- Modal Div -->
    <div class='form-group'>
        <!-- Adding modal button and modal code -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#password-modal"
                data-whatever="@mdo">Forgot Password
        </button>

        <!-- Forgot Password Div -->
        <div class="modal fade" id="password-modal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Submit Email to Receive Temporary Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group text-left">
                            <label for="email" class="col-form-label text-left">Email</label>
                            <input type="text" class="form-control" id="email" value="{{ @email }}">
                            <p class="small">**Email will be sent if valid email is submitted**</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" name="saveChanges" id="save-default">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="../scripts/clientValidation.js"></script>
</body>
</html>
