<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <check if="!empty({{@style}})">
        <repeat group="{{@style}}" value="{{@sheet}}">
            <link rel="stylesheet" href="{{@sheet}}">
        </repeat>
    </check>
    <link rel="stylesheet" href="{{@ext}}styles/nav.css">
    <link rel="icon" type="image/png" href="{{@ext}}styles/images/logo.png">
    <title>{{@title}}</title>
</head>
<body>
<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
    <div class="container">
        <img class="logo navbar-brand d-none d-sm-inline-block" src="{{@ext}}styles/images/logo.png" alt="UTSS logo"/>
        <div class="navbar-nav">
            <repeat group="{{@link}}" key="{{@name}}" value="{{@route}}">
                <a class="nav-item nav-link" href="{{@route}}">{{@name}}</a>
            </repeat>

        </div>
    </div>
</nav>