<!--
Page for admin viewing and management of tutor onboarding data.

@author Keller Flint
-->

<include href="views/navbar.html"/>

<div class="content">

    <!-- Title and year info/controls -->
    <div class="text-center">
        <h1>Tutor Onboarding</h1>
        <button class="btn btn-secondary year-change" id="year-last">Last Year</button>
        <h3 class="d-inline" id="year-current" data-year='{{ @year }}'>{{ @year }} - {{@year+1}}</h3>
        <button class="btn btn-secondary year-change" id="year-next">Next Year</button>
        <br>
        <check if="{{ @currentYear != @year }}">
            <button id="current-year" class="btn btn-info mt-3">Set Current Year</button>
        </check>
        <br>
        <button id="enable-edit" class="btn btn-outline-primary mt-3">Edit Columns</button>
        <a id="add-new-item" class="btn btn-outline-primary mt-3" href="../edit/0">Add Column</a>
        <br>

        <!-- Filter buttons -->
        <div class="mt-3">
            <button class="btn btn-secondary filter">Incomplete</button>

            <button class="btn btn-secondary filter">All</button>

            <button class="btn btn-secondary filter">Complete</button>
        </div>
    </div>

    <!-- Tutors DataTable -->
    <table id="tutors-table" class="compact stripe">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Picture</th>
            <repeat group="{{ @items }}" value="{{ @item }}">
                <th>{{ @item['item_name'] }}<br>
                    <a class="edit-item btn btn-info d-none" href="../edit/{{ @item['item_id'] }}">Edit</a>
                </th>
            </repeat>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @tableData }}" value=" {{ @tutorData }}">
            <tr>

                <!-- Name -->
                <td class="name"><a href="../tutor/{{ @tutorData['info']['user_id'] }}">{{
                    @tutorData['info']['tutor_first'] }} {{
                    @tutorData['info']['tutor_last'] }}</a></td>

                <!-- Email -->
                <td class="email">
                    {{ @tutorData['info']['user_email'] }}
                    <i class="fa fa-caret-down float-right" style="font-size:18px"></i>
                    <br>
                    <check if="{{ @currentYear != @year }}">
                        <button class="btn btn-info d-none import" data-userid="{{ @tutorData['info']['user_id'] }}">
                            Import
                        </button>
                    </check>
                    <button class="btn btn-danger d-none delete" data-userid="{{ @tutorData['info']['user_id'] }}">
                        Delete
                    </button>
                </td>

                <!-- Tutor Bio -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutorData['info']['tutor_bio'] != NULL }}">
                            <true>
                                <input class="form-check-input checkbox-big" type="checkbox" checked disabled>
                            </true>
                            <false>
                                <input class="form-check-input checkbox-big" type="checkbox" disabled>
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Tutor Image -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutorData['info']['tutor_image'] != NULL }}">
                            <true>
                                <input class="form-check-input checkbox-big" type="checkbox" checked disabled>
                            </true>
                            <false>
                                <input class="form-check-input checkbox-big" type="checkbox" disabled>
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Display dynamic columns -->
                <repeat group="{{ @tutorData['items'] }}" value="{{ @column }}">
                    <td>
                        <check if="{{ @column['item_type'] == 'select' }}">

                            <!-- Select -->
                            <true>
                                <select class="form-control tutor-select">

                                    <!-- Repeats over all states in the item to populate dropdown -->
                                    <repeat group="{{ @items[@column['item_id']]['states'] }}" value="{{ @value }}">
                                        <check if="{{ @value['state_id'] == @column['state_id'] }}">
                                            <true>
                                                <option value="{{ @value['state_id'] }}" selected>{{
                                                    @value['state_name'] }}
                                                </option>
                                            </true>
                                            <false>
                                                <option value="{{ @value['state_id'] }}">{{ @value['state_name'] }}
                                                </option>
                                            </false>
                                        </check>
                                    </repeat>
                                </select>
                            </true>

                            <!-- Checkbox -->
                            <false>
                                <div class="form-check text-center">
                                    <check if="{{ @column['state_order'] !=  1 }}">
                                        <true>
                                            <input class="form-check-input checkbox-big" type="checkbox" checked>
                                        </true>
                                        <false>
                                            <input class="form-check-input checkbox-big" type="checkbox">
                                        </false>
                                    </check>
                                </div>
                            </false>
                        </check>
                    </td>
                </repeat>
            </tr>
        </repeat>
        </tbody>
    </table>

    <!-- Add new tutor email input and button -->
    <div class="text-primary text-center" id="email-status"></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-3 text-center px-1">
            <div class="form-group">
                <input type="text" id="add-tutor-input" class="form-control" placeholder="someone@example.com">
            </div>
        </div>
        <div class="col-4 px-1">
            <button data-year="{{ @year }}" id="add-tutor-button" class="btn btn-success">Add Tutor</button>
            <!-- Adding modal button and modal code -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#email-modal"
                    data-whatever="@mdo">Edit Default Email
            </button>

            <div class="modal fade" id="email-modal" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title">Edit Default Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="email-subject" class="col-form-label">Subject:</label>
                                    <input type="text" class="form-control" id="email-subject" value="{{ @subject }}">
                                </div>
                                <div class="form-group">
                                    <label for="email-body" class="col-form-label">Body:</label>
                                    <p class="small">**Note: Login Information will be sent in addition to default email
                                        body**</p>
                                    <textarea class="form-control" id="email-body">{{ @body }}</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="save-default">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>

    </div>
</div>

<!--JQuery and bootstrap dependencies-->
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script src="../scripts/tutorsScript.js"></script>
</body>
</html>