<!--
Page to display additional information about a tutor that does not appear on the admin page.
@author Keller Flint
-->

<include href="views/navbar.html"/>

<div class="container">
    <h2 class="mt-3 text-center">{{ @tutor["tutor_first"] }} {{ @tutor["tutor_last"] }}</h2>
    <div class="row">
        <div class="col">
            <p class="mt-3"><span class="font-weight-bold mr-1">Email:</span> {{ @user["user_email"] }}</p>
            <p class="mt-3"><span class="font-weight-bold mr-1">Phone:</span> {{ @tutor["tutor_phone"] }}</p>
            <p class="mt-3"><span class="font-weight-bold mr-1">SSN:</span> {{ @ssn }}</p>
            <p class="mt-3"><span class="font-weight-bold mr-1">Bio:</span> {{ @tutor["tutor_bio"] }}</p>
            <form action="#" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-info download" name="download" value="{{ @tutor['user_id'] }}">
                    Download Image
                </button>
                <!--Display the tutor uploaded files retrieved from database-->
                <div class="mt-4">
                    <p class="h5 text-success">Files uploaded by tutors </p>
                    <repeat group="{{ @filesToDownload }}" value="{{ @value }}">
                        <check if="{{ @value['itemTutorYear_file'] != null }}">
                            <p><a target="_blank" href="../uploads/{{@value['itemTutorYear_file']}}"
                                  download="{{@value['itemTutorYear_file']}}">{{@value['itemTutorYear_file']}}
                            </a></p>
                        </check>
                    </repeat>
                </div>
            </form>
        </div>
        <div class="col">
            <img src="../uploads/{{ @tutor['tutor_image'] }}" class="img-fluid img-thumbnail">
        </div>
    </div>
</div>

</body>
</html>