<!--
Page for admin viewing and management of tutor onboarding data.

@author Keller Flint
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutors</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- DataTables Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css" href="../styles/tutors_style.css">
</head>
<body>
<div class="content">

    <!-- Title and year info/controls -->
    <div class="text-center">
        <h1>Tutor Onboarding</h1>
        <button class="btn btn-secondary">Last Year</button>
        <h3 class="d-inline">2020</h3>
        <button class="btn btn-secondary">Next Year</button>
    </div>

    <!-- Tutors DataTable -->
    <table id="tutors-table" class="compact stripe">
        <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Onboarding Packet Sent</th>
            <th class="text-center">Background Check</th>
            <th class="text-center">Reference Check</th>
            <th class="text-center">Offer Letter</th>
            <th class="text-center">Affirmation & Disclosures</th>
            <th class="text-center">Sexual Misconduct</th>
            <th class="text-center">W4</th>
            <th class="text-center">Handbook Verification</th>
            <th class="text-center">ADP Registration</th>
            <th class="text-center test">I-9</th>
            <th class="text-center">Orientation</th>
            <th class="text-center">Placement</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @tutorsData }}" value=" {{ @tutor }}">
            <tr>
                <!-- Name -->
                <td>{{ @tutor['tutor_first'] }} {{ @tutor['tutor_last'] }}</td>

                <!-- Email -->
                <td>{{ @tutor['user_email'] }}</td>

                <!-- Onboarding Packet -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_packet_sent'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_packet_sent"
                                       class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_packet_sent"
                                       class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Background Check -->
                <td>
                    <select class="form-control">
                        <repeat group=" {{ @backgroundOptions }}" key="{{ @key }}" value="{{ @value }}">
                            <check if="{{ @key == @tutor['year_background'] }}">
                                <true>
                                    <option value="{{ @key }}" selected>{{ @value }}</option>
                                </true>
                                <false>
                                    <option value="{{ @key }}">{{ @value }}</option>
                                </false>
                            </check>
                        </repeat>
                    </select>
                </td>

                <!-- Reference Check -->
                <td>
                    <select class="form-control">
                        <repeat group=" {{ @referenceOptions }}" key="{{ @key }}" value="{{ @value }}">
                            <check if="{{ @key == @tutor['year_reference'] }}">
                                <true>
                                    <option value="{{ @key }}" selected>{{ @value }}</option>
                                </true>
                                <false>
                                    <option value="{{ @key }}">{{ @value }}</option>
                                </false>
                            </check>
                        </repeat>
                    </select>
                </td>

                <!-- Offer Letter -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_offer_letter'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_offer_letter" class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_offer_letter" class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Affirmation & Disclosures -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_affirmation_disclosures'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_affirmation_disclosures" class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_affirmation_disclosures" class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Sexual Misconduct -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_sexual_misconduct'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_sexual_misconduct" class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_sexual_misconduct" class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- W4 -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_w4'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_w4" class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_w4" class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Handbook Verification -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_handbook_verification'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_handbook_verification" class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_handbook_verification" class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- ADP Enrollment -->
                <td>
                    <select class="form-control">
                        <repeat group=" {{ @ADPOptions }}" key="{{ @key }}" value="{{ @value }}">
                            <check if="{{ @key == @tutor['year_ADP'] }}">
                                <true>
                                    <option value="{{ @key }}" selected>{{ @value }}</option>
                                </true>
                                <false>
                                    <option value="{{ @key }}">{{ @value }}</option>
                                </false>
                            </check>
                        </repeat>
                    </select>
                </td>

                <!-- I-9 -->
                <td>
                    <select class="form-control">
                        <repeat group=" {{ @i9Options }}" key="{{ @key }}" value="{{ @value }}">
                            <check if="{{ @key == @tutor['year_i9'] }}">
                                <true>
                                    <option value="{{ @key }}" selected>{{ @value }}</option>
                                </true>
                                <false>
                                    <option value="{{ @key }}">{{ @value }}</option>
                                </false>
                            </check>
                        </repeat>
                    </select>
                </td>

                <!-- Orientation -->
                <td>
                    <div class="form-check text-center">
                        <check if="{{ @tutor['year_orientation'] == 1 }}">
                            <true>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_orientation" class="form-check-input checkbox-big" type="checkbox" checked>
                            </true>
                            <false>
                                <input data-yearid="{{ @tutor['year_id'] }}" data-column="year_orientation" class="form-check-input checkbox-big" type="checkbox">
                            </false>
                        </check>
                    </div>
                </td>

                <!-- Placement -->
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control placement" placeholder="None"
                               value="{{ @tutor['year_placement'] }}">
                    </div>
                </td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>

<!--JQuery and bootstrap dependencies-->
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script src="../scripts/tutors_script.js"></script>
</body>
</html>