<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/schools.css">
    <title>UTSS</title>

</head>
<body>
<div class="container">
    <div class="mb-5"></div>
    <div class="text-center">
        <form>
        <div class="input-group">
            <div class="input-group-prepend">
                <button id="button-addSchool" type="submit" class="btn btn-primary">Add School +</button>
            </div>
            <input type="text" placeholder="Type school name here" aria-describedby="button-addSchool" class="form-control">
        </div>
        </form>
        <br>
    </div>
    <div class="row">
    <div class="col-md-4 scroll ">
        <a class="btn btn-secondary text-light scroll"><i class="fas fa-angle-up"></i></a>
        <div class="schools text-center">
            <p class="h4">Green River</p>
        </div>
        <div class="schools text-center">
            <p class="h4">Green River elem</p>
        </div>
        <div class="schools text-center">
            <p class="h4">Green River high school</p>
        </div>
        <div class="schools text-center">
            <p class="h4">Green River kindergarten</p>
        </div>
        <a class="btn btn-secondary text-light scroll"><i class="fas fa-angle-down"></i></a>

    </div>
    <div class="col-md-8">

    </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>