/**
Styles for onboarding form
@author Laxmi Kandel
 */

.err {
    color: #dc3545;
    text-align: center;
}

em {
    color: palevioletred;
    font-size: smaller;
    margin-left: 5px;
}

fieldset {
    border: 1px solid cornflowerblue;
    padding: 2em;
}

img {
    width: 200px;
}

.jumbotron {
    background-color: cornflowerblue;
    color: white;
    margin-top: 5px;
}

legend {
    color: cornflowerblue;
    font-size: 125%;
    font-variant: small-caps;
    font-weight: bold;
}


