.schools{
    width: 13rem;
    border: 2px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 1rem;
}

.schools:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.scroll{
    width: 13rem;
}

.pic-scroll{
    font-size: 2rem;
}