/*
Styles for the admin tutors table

@author Keller Flint
*/

#add-img {
    width: 20px;
}

.btn-file input[type=file] {
    outline: none;
}

.checkbox-big {
    transform: scale(2) translateY(-5.5px);
    -webkit-transform: scale(2) translateY(-5.5px);;
}

.filter {
    width: 8%;
}

.hidden {
    display: none;
}

.placement {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);;
}

.pointer:hover {
    cursor: pointer;
}

.small {
    font-size: x-small;
}

th {
    font-size: 1em;
    white-space: nowrap;
}

.year-change {
    vertical-align: top;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
}
