/*
Styles for the admin tutors table

@author Keller Flint
*/

.btn-file input[type=file] {
    outline:none;
}

.checkbox-big {
    transform: scale(2) translateY(-5.5px);
    -webkit-transform: scale(2) translateY(-5.5px);;
}

.filter {
    width: 10%;
}

.hidden{
    display: none;
}
.placement {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);;
}

.small {
    font-size: x-small;
}

th {
    font-size: .7em;
}

